body, ul, li, p {
   margin: 0; 
   padding: 0;
   font-size: 1rem;
   font-family: Arial, Helvetica, sans-serif;
} 

body {
   max-width: 900px;
   margin: 0px auto;
}
a {
  text-decoration:none;
  color: rgb(2, 53, 163);
}
img {
  max-width: 100%;
  display: block;
}
.cabeçalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
}
.cabeçalho ul {
  list-style: none;
}
.menu {
  display: flex;
}
.menu li {
  margin-left: 10px;
}
.menu li a {
  display: block;
  margin: auto;
  padding: 10px;
}
.capa img {
  display: block;
  margin: 0px auto;
}
.direito {
  text-align: center;
  font-size: 0.8rem;
}
