<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>{% block title %} {% endblock %} UNES</title>
</head>
<body background="../static/img/fundo.png">
    <header class="cabeçalho"> 
        <img src="../static/img/logo.png" alt="logo UNES">
            <ul class="menu">
                <li>
                    <a href="home">Home</a>
                </li>
                <li>
                    <a href="quemsomos">Quem somos</a>
                </li>
                <li>
                    <a href="contatos">Contato</a>
                </li>
            </ul>
    </header>
    {% block conteudo %}
    {% endblock %}
    <p class="direito">
        <strong>Todos os direitos reservados</strong>
        </p>
</body>
</html>