<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>UNES - Contato</title>
</head>
<body background="../static/img/fundo.png">
    <header class="cabeçalho"> 
        <img src="../static/img/logo.png" alt="logo UNES">
            <ul class="menu">
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/quem-somos.html">Quem somos</a></li>
                <li><a href="../templates/contato.html">Contato</a></li>
            </ul>
    </header>
    <h2><strong>Entre em contato</strong></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, delectus.</p>
    <br>
    <form>
        Seu e-mail: <br>
        <input type="text" name="Seu e-mail"><br>
        Assunto: <br>
        <input type="text" name="Assunto"><br>
        Descrição: <br>
        <input type="text" name="Descrição"><br>
        <br>
        <input type="submit" name="Enviar"><br>
    </form>
    <p class="direito">
        <strong>Todos os direitos reservados</strong>
        </p>
</body>
</html>