{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block conteudo %}
    <h2><strong>Entre em contato</strong></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, delectus.</p>
    <br>
    <form>
        Seu e-mail: <br>
        <input type="text" name="Seu e-mail"><br>
        Assunto: <br>
        <input type="text" name="Assunto"><br>
        Descrição: <br>
        <input type="text" name="Descrição"><br>
        <br>
        <input type="submit" name="Enviar"><br>
{% endblock %}