{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block conteudo %}
    <h2><strong>Entre em contato</strong></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, delectus.</p>
    <br>
    <form method="post" action="/contatos">

        Seu e-mail: <br>
        <input type="text" name="Seu e-mail" required><br>
        Assunto: <br>
        <input type="text" name="Assunto" required><br>
        Descrição: <br>
        <input type="text" name="Descrição" required><br>
        <br>
        <input type="submit" name="Enviar"><br>
{% endblock %}