{% extends 'base.html' %}
{% block title %} Quem-somos {% endblock %}
{% block conteudo %}
<h2 class="alinhar_titulo">
    <p><strong>Sobre a universidade</strong></p>
</h2>
    <div class="justificar">
        <p>Lorem <strong>ipsum dolor</strong> sit <em>amet</em> consectetur adipisicing elit. Repudiandae, ipsum id corrupti, ipsa aliquam reprehenderit nihil rerum ex sapiente doloribus exercitationem voluptatem distinctio dignissimos eaque deserunt quibusdam iusto commodi numquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet repellat maxime nobis non inventore sunt exercitationem porro voluptatibus quaerat, repudiandae soluta eveniet error tempore doloribus vitae quos consequatur distinctio?</p>
        <br>
    <p><strong>5 motivos para estudar</strong></p>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
        <h2>
            <p><strong>Objetivos</strong></p>
        </h2>
        <p>Lorem <strong>ipsum dolor</strong> sit, <em>amet</em> consectetur adipisicing elit. Fuga illum voluptatem, placeat nostrum veritatis inventore corporis quo. A, ex officia rerum, voluptatum et voluptatem deleniti aspernatur ducimus nisi illo laborum! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo odio sapiente dignissimos praesentium, commodi velit, aut id at magni ratione illum quos. Similique, pariatur aliquam? Veritatis hic officiis consequuntur recusandae!</p>
        <br>
{% endblock %}